docker.enabled=true
conda.enabled = true
dag.overwrite = true
process.executor = 'slurm'
workDir = "/the workDir result"

params {
    ref= "/path_to_referenceGenome"
    fastq = "/path to fastq file/*_{R1,R2}_001.fastq.gz"
    outdir= "/output path"
    bed= "/path_to_bedFile" 
    bedInterval= "/path to interval list extracted from bed file"
    teststrandbias = "/path to teststrandbias.R used by vardict" 
    var2vcf = "/path to var2vcf_valid.pl used by vardict" 
    cach= "/path_to_cacheVEP"
    fasta= "/path_to_fastaVEP"
}
